* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    -ms-box-sizing: border-box;     
    -o-box-sizing: border-box;     
    box-sizing: border-box;        
}


body{
    margin: 0;
}

nav{
    background-color: #07575B;
    height: 200px;
    margin: 10px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}

nav a{
    display: inline-block;
    background-color: #66A5AD;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: aliceblue;
    border: 3px solid #C4DFE6;
    flex: 1, 0, 215px;
    -webkit-flex: 1, 0, 215px;
    -moz-flex: 1, 0, 215px;
    -ms-flex: 1, 0, 215px;
    -o-flex: 1, 0, 215px;
}

nav ul{
    list-style: none;
    display: flex;
}